.category_wrap {
    /* background-color: #eee; */
    margin-right: 100px;
}
.back_color {
    background-color: #fff;
    border-radius: 10px;
    
}
.category_title {
    margin: 10px 5px 0 0;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}
.category_produce {
    position: relative;
}
.category_produce p {
    font-size: 18px;
    padding: 20px 0 0 5px;
    font-weight: bold;
}
.category_produce_input {
    display: inline-block;
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
    margin: 10px 0;
}
.category_produce_btn{
    position: absolute;
    top: 53px;
    right: 20px;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #555;
    /* font-weight: bold; */
    font-size: 45px;
}

.category_list_wrap {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}
.category_list_show_btn {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 10px;
    /* background-color: ; */
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    /* font-weight: bold; */
}
.category_list_print_box {
    width: 80%;
    text-align: center;
}
.category_list_btn {
    width: 9%;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
}

